<center><h1>BOOK RECOMMENDATION</h1></center>

<center><img src="https://wildlife-travel.com/wp-content/uploads/2019/07/book-recommendation.jpg"></center>

This Dashboard is to Recommend Books for users in [this dataset](https://github.com/caserec/Datasets-for-Recommender-Systems/tree/master/Processed%20Datasets/BookCrossing)
or recommend top books if the user isn't in this dataset

In [10]:
import pandas as pd 
book_info = pd.read_csv("items_info.dat", sep='\t',index_col=False)
book_info

,Book_ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,1,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
1,2,0393045218,The Mummies of Urumchi,E.J.W. Barber,1999,W. W. Norton &amp Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
2,3,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...
3,4,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...
4,5,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...
...,...,...,...,...,...,...,...,...,...
17379,17380,0449209202,Guide to Confident Living,Norman Vincent Peale,1985,Fawcett Books,http://images.amazon.com/images/P/0449209202.0...,http://images.amazon.com/images/P/0449209202.0...,http://images.amazon.com/images/P/0449209202.0...
17380,17381,2209014026,Ludwig Feuerbach,F. Engels,1976,La Dispute,http://images.amazon.com/images/P/2209014026.0...,http://images.amazon.com/images/P/2209014026.0...,http://images.amazon.com/images/P/2209014026.0...
17381,17382,070892722X,To Bring You Joy (Ulverscroft Large Print Series),Essie Summers,1992,Ulverscroft Large Print,http://images.amazon.com/images/P/070892722X.0...,http://images.amazon.com/images/P/070892722X.0...,http://images.amazon.com/images/P/070892722X.0...
17382,17383,1570031843,Like Unto Like: A Novel (Southern Classics Ser...,Katherine Sherwood Bonner McDowell,1997,University of South Carolina Press,http://images.amazon.com/images/P/1570031843.0...,http://images.amazon.com/images/P/1570031843.0...,http://images.amazon.com/images/P/1570031843.0...
17383,17384,0435272632,The Grapes of Wrath (Upper Level),John Milne,1995,Delta Systems Co,http://images.amazon.com/images/P/0435272632.0...,http://images.amazon.com/images/P/0435272632.0...,http://images.amazon.com/images/P/0435272632.0...

In [11]:
book_ratings = pd.read_csv("book_ratings.dat", sep='\t',index_col=False)
book_ratings.head()

   user  item  rating
0     1  6264     7.0
1     1  4350     7.0
2     1  6252     5.0
3     1   202     9.0
4     1  6266     6.0

In [12]:
book_ratings.describe()

               user          item        rating
count  62656.000000  62656.000000  62656.000000
mean    1458.705056   6106.118839      7.953700
std      848.564252   4847.444402      1.717846
min        1.000000      1.000000      1.000000
25%      760.000000   1888.000000      7.000000
50%     1398.000000   4977.000000      8.000000
75%     2218.000000   9538.000000      9.000000
max     2945.000000  17384.000000     10.000000

# Build the model

In [13]:
from surprise import Dataset, KNNWithMeans, Reader

In [14]:
reader = Reader(rating_scale=(1, 10))

In [15]:
data = Dataset.load_from_df(book_ratings[['user', "item", "rating"]], reader)

In [16]:
# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
model = KNNWithMeans(sim_options=sim_options)

In [17]:
trainingSet = data.build_full_trainset()
print(trainingSet.n_items)
print(trainingSet.n_ratings)
print(trainingSet.n_users)

14684
62656
1295

In [18]:
model.fit(trainingSet)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [19]:
book_ratings2=book_ratings.drop(['user'], axis=1)
book_ratings2=book_ratings2.groupby('item').mean()
book_ratings2['Book_ID']=book_ratings2.index
book_ratings2.head()

        rating  Book_ID
item
1     6.000000        1
2     8.333333        2
3     8.750000        3
4     7.750000        4
5     7.818182        5

In [34]:
#join in ratio from the other table

book_info['rating']= None
book_info = book_info.join(book_ratings2.set_index(["Book_ID"])["rating"].to_frame("ratio2"), on=["Book_ID"])

# take ratio2 first, then the existing ratio value if ratio2 is null
book_info["rating"] = book_info["ratio2"].fillna(book_info["rating"])

# delete the ratio2 column
del book_info["ratio2"]
book_info['average_rating']=book_info['rating']
book_info=book_info.drop(['rating'],axis=1)
book_info.tail()

,Book_ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,average_rating
17379,17380,0449209202,Guide to Confident Living,Norman Vincent Peale,1985,Fawcett Books,http://images.amazon.com/images/P/0449209202.0...,http://images.amazon.com/images/P/0449209202.0...,http://images.amazon.com/images/P/0449209202.0...,NaN
17380,17381,2209014026,Ludwig Feuerbach,F. Engels,1976,La Dispute,http://images.amazon.com/images/P/2209014026.0...,http://images.amazon.com/images/P/2209014026.0...,http://images.amazon.com/images/P/2209014026.0...,NaN
17381,17382,070892722X,To Bring You Joy (Ulverscroft Large Print Series),Essie Summers,1992,Ulverscroft Large Print,http://images.amazon.com/images/P/070892722X.0...,http://images.amazon.com/images/P/070892722X.0...,http://images.amazon.com/images/P/070892722X.0...,NaN
17382,17383,1570031843,Like Unto Like: A Novel (Southern Classics Ser...,Katherine Sherwood Bonner McDowell,1997,University of South Carolina Press,http://images.amazon.com/images/P/1570031843.0...,http://images.amazon.com/images/P/1570031843.0...,http://images.amazon.com/images/P/1570031843.0...,NaN
17383,17384,0435272632,The Grapes of Wrath (Upper Level),John Milne,1995,Delta Systems Co,http://images.amazon.com/images/P/0435272632.0...,http://images.amazon.com/images/P/0435272632.0...,http://images.amazon.com/images/P/0435272632.0...,6.5

In [35]:
def top_5_recommendations(uid):
    
    books_rated_by_user = book_ratings.loc[book_ratings['user']==uid, "item"].values
    
    
    other_books = book_info.loc[~book_info['Book_ID'].isin(books_rated_by_user)].sort_values(
        by='average_rating', ascending=False)
    
    # if the user exists or not
    if uid not in set(book_ratings['user']):
        return other_books[:5]
    
    other_books['user_rate'] = other_books['Book_ID'].apply(lambda x: model.predict(uid, x).est)

    
    return other_books.sort_values(by='user_rate', ascending=False).drop(['user_rate'],axis=1)

In [37]:
top_5_recommendations(-1)[:5]

,Book_ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,average_rating
14785,14786,0553290231,"Father, Son and Co: My Life at IBM and Beyond",Thomas J. Watson,1991,Bantam Books,http://images.amazon.com/images/P/0553290231.0...,http://images.amazon.com/images/P/0553290231.0...,http://images.amazon.com/images/P/0553290231.0...,10.0
16216,16217,3596151465,Henry der Held.,Roddy Doyle,2001,"Fischer (Tb.), Frankfurt",http://images.amazon.com/images/P/3596151465.0...,http://images.amazon.com/images/P/3596151465.0...,http://images.amazon.com/images/P/3596151465.0...,10.0
7877,7878,088029700X,True Irish Ghost Stories,John Seymour,1992,Marboro Books,http://images.amazon.com/images/P/088029700X.0...,http://images.amazon.com/images/P/088029700X.0...,http://images.amazon.com/images/P/088029700X.0...,10.0
7849,7850,0446360082,A Fool for Murder: A Mystery,Marian Babson,1991,Warner Books,http://images.amazon.com/images/P/0446360082.0...,http://images.amazon.com/images/P/0446360082.0...,http://images.amazon.com/images/P/0446360082.0...,10.0
7836,7837,044040665X,Beezus and Ramona,Beverly Cleary,1994,Yearling Books,http://images.amazon.com/images/P/044040665X.0...,http://images.amazon.com/images/P/044040665X.0...,http://images.amazon.com/images/P/044040665X.0...,10.0